version: '3'

services:
  app:
    image: pub10cloud/ivi.wayland.sdk:v0.0.1               
    privileged: true
    tty: true
    command: /bin/bash
    environment:
      - DISPLAY=${LOCAL_DISPLAY}
      - XDG_RUNTIME_DIR=${XDG_RUNTIME_DIR}
    devices:
     - "/dev/dri:/dev/dri"
     - "/dev/snd:/dev/snd"
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /run/user:/run/user
      - /home/${USER}/${WORK_DIR}:/home/user/work


